@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Babylonica', cursive;
    font-family: 'Inter', sans-serif; */

    :root {
        --primary-color: #E97720;
        --background-color: #FFFCEB;
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button, textarea {
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    position: relative;
    z-index: 0;
}

/* Nav */

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3.125rem;
    z-index: 1;
}

.nav-section {
    width: 70rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.brand-name {
    font-family: 'Babylonica', cursive;
    font-size: 3rem;
}

.nav-items {
    display: flex;
    width: 23.5rem;
    justify-content: space-between;
}
.nav-link:hover {
    color: var(--primary-color)
}

.nav-home {
    font-weight: 700;
}
.nav-home:hover {
    color: black;
}

.action-call {
    color: var(--primary-color);
    font-weight: 700;
}

/* Background Circles */
.background-circles {
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.background-circles img {
    z-index: 0;
}

/* Hero */

.hero-container {
    display: flex;
    margin-top: 7.2rem;
    width: 100%;
    padding-left: 8rem;
    z-index: 1;
}

.hero-img-container {
    width: 17.3125rem;
    height: 16.5625rem;
}
.hero-img-container img {
    width: 100%;
    height: 100%;
}

.hero-content-container {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-top: 1rem;
}
.hero-content-container h1 {
    font-size: 4.06rem;
}
.hero-finney {
    color: var(--primary-color);
}

.hero-content-bio {
    font-size: 2.25rem;
    font-weight: 200;
    line-height: 150%;
}

.hero-content-portfolio {
    margin-top: 0.5rem;
    font-size: 1rem;
}
.hero-content-portfolio span img {
    width: 1.3rem;
}