@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Babylonica', cursive;
    font-family: 'Inter', sans-serif; */

:root {
    --primary-color: #E97720;
    --background-color: #FFFCEB;
    --cursive-font: 'Babylonica', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    scroll-behavior: smooth;
}

input, button, textarea {
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    
}

section {
    min-width: 100%;
    min-height: 100vh;
}

/* Section 1 */

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Nav */

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3.125rem auto 4rem;
}

.nav-section {
    width: 70em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    padding: 0 1.5em;
}

.brand-name {
    font-family: var(--cursive-font);
    font-size: 2em;
}

.nav-items {
    display: none;
}

.action-call {
    display: none;
}

.navbar-toggle-btn {
    display: block;
    width: 2rem;
    cursor: pointer;
}
.navbar-toggle-btn img {
    display: block;
    width: 100%;
}

.active-nav {
    background: var(--background-color);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}
.active-nav-item {
    margin-bottom: 3rem;
    font-size: 2rem;
}
.active-menu {
    position: fixed;
    right: 2.35rem;
    top: 4.2rem;
}

/* Hero */

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img-container {
    min-height: 10em;
    max-width: 17em;
}

.hero-img-container img {
    display: block;
    width: 100%;
}

.hero-content-container {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
}

.hero-content-container h1 {
    font-size: 4.06rem;
    text-align: center;
}
.hero-finney {
    color: var(--primary-color);
}

.hero-content-bio {
    font-size: 2.25rem;
    font-weight: 200;
    line-height: 150%;
    text-align: center;
}

.hero-content-portfolio {
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
}
.hero-content-portfolio span img {
    width: 1.3rem;
    cursor: pointer;
}

/* section 2 */

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container {
    display: grid;
    grid-template-columns: 21.625rem;
    gap: 3.75rem;
    margin: 2em auto;
}

.project {
    width: 21.625rem;
    cursor: pointer;
}

.project img {
    width: 100%;
    max-height: 7.510625rem;
    object-fit: cover;
}


.project h1 {
    margin: 1.875rem auto 0.8rem;
    font-weight: 700;
    font-size: 1.5625rem;
}

.project p {
    line-height: 150%;
    font-weight: 300;
    font-size: 1rem;
}

.module-img {
    display: none;
}
.module-header {
    display: none;
}
.module-description {
    display: none;
}

/* Section 3 */

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2em;
}
.contact-form input::placeholder {
    color: white;
    opacity: 0.5;
}
.contact-form input {
    background: none;
    font-size: 2rem;
    color: white;
}
.linebreak {
    width: 19rem;
    height: 0.1rem;
    background-color: white;
    margin-bottom: 2rem;
}

.contact-form-btn-container {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 3rem;
}
.contact-form-btn-container input {
    background-color: white;
    color: var(--primary-color);
    border-radius: 0.5em;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.2em 0.5em;
}


@media (min-width: 43rem) {
    .nav-items {
        display: flex;
        width: 23.5rem;
        justify-content: space-between;
    }
    .nav-link:hover {
        color: var(--primary-color)
    }
    
    .nav-home {
        font-weight: 700;
    }
    .nav-home:hover {
        color: black;
    }
    
    .action-call {
        display: block;
        color: var(--primary-color);
        font-weight: 700;
    }
    
    .navbar-toggle-btn {
        display: none;
    }
}

@media(min-width: 50rem) {
    .projects-container {
        display: grid;
        grid-template-columns: 21.625rem 21.625rem;
        gap: 3.75rem;
    }
    
    .module-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background: black;
        opacity: 0.7;
        display: none;
    }

    .module {
        width: 39rem;
        height: 45rem;
        position: fixed;
        top: 2rem;
        left: 25rem;
        background: black;
        border-radius: 20px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .module-content {
        width: 35rem;
        height: auto;
        padding-bottom: 2.6rem;
        display: none;
    }

    .module-img {
        width: 100%;
        max-height: 11rem;
        object-fit: cover;
        border-radius: 1rem;
    }
    .module-header {
        margin: 1.875rem auto 0.8rem;
        font-weight: 700;
        font-size: 2.5rem;
        color: white;
    }
    .module-description {
        line-height: 150%;
        font-weight: 300;
        font-size: 1rem;
        color: white;
    }
}

@media(min-width: 58rem) {
    .hero-container {
        display: flex;
        flex-direction: row;
        margin-top: 5rem;
        width: 100%;
    }
    
    .hero-img-container {
        display: block;
        width: 17em;
        margin-left: 2em;
    }
    .hero-img-container img {
        display: block;
        width: 100%;
    }
    
    .hero-content-container {
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
        padding-top: 1rem;
        margin: 0;
    }
    .hero-content-container h1, .hero-content-bio, .hero-content-portfolio {
        text-align: left;
    }

    .section3 {
        background-color: var(--background-color);
    }

    .contact-container {
        width: 41.9375rem;
        height: 41.9375rem;
    }

    .contact-circle {
        background-color: var(--primary-color);
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 10.25rem;
        padding-left: 6rem;
    }
    .contact-form input::placeholder {
        color: white;
        opacity: 0.5;
    }
    .contact-form input {
        background: none;
        font-size: 3rem;
        color: white;
    }
    .linebreak {
        width: 29.75rem;
        height: 0.1rem;
        background-color: white;
        margin-bottom: 3rem;
    }

    .contact-form-btn-container {
        display: flex;
        justify-content: end;
        padding-right: 6.3rem;
    }
    .contact-form-btn-container input {
        background-color: white;
        color: var(--primary-color);
        width: 8.375rem;
        border-radius: 1.25rem;
        font-size: 3rem;
        cursor: pointer;
    }
}

@media(min-width: 72rem) {
    .projects-container {
        display: grid;
        grid-template-columns: 21.625rem 21.625rem 21.625rem;
        gap: 3.75rem;
    }
}

